:root {
    /* Colores tema oscuro */
    --background-dark: #121212;
    --text-dark: #e0e0e0;
    --paragraph-dark: #8b8b8b;
    --button-dark: #6c4cec;
    --button-hover-dark: #815fef;
    --primary-dark: #ffffff;
    --highlight-dark: #a586f4;
    --secondary-dark: #717171;
    --tertiary-dark: #5f5b66;
    --heading-dark: #ffffff;

    /* Colores tema claro */
    --background-light: #ffffff;
    --text-light: #2e3440;
    --paragraph-light: #717171;
    --button-light: #6c4cec;
    --button-hover-light: #9473f2;
    --primary-light: #6c4cec;
    --highlight-light: #9473f2;
    --secondary-light: #9c9595;
    --tertiary-light: #5f5b66;
    --heading-light: #535d72;

    /* Colores comunes */
    --copied-message-color: #b599f7;
    --link-color: #6c4cec;
    --link-hover-color: #815fef;
    --h3-color: #9473f2;
}

[data-theme="dark"] {
    --background: var(--background-dark);
    --text-color: var(--text-dark);
    --paragraph-color: var(--paragraph-dark);
    --button-color: var(--button-dark);
    --button-hover-color: var(--button-hover-dark);
    --title-color: var(--primary-dark);
    --title-hover-color: var(--highlight-dark);
    --secondary: var(--secondary-dark);
    --tertiary: var(--tertiary-dark);
    --heading: var(--heading-dark);
    --h2-color: var(--heading-dark);
    --li-color: var(--secondary-dark);
    --li-hover-color: var(--highlight-dark);
}

[data-theme="light"] {
    --background: var(--background-light);
    --text-color: var(--text-light);
    --paragraph-color: var(--paragraph-light);
    --button-color: var(--button-light);
    --button-hover-color: var(--button-hover-light);
    --title-color: var(--primary-light);
    --title-hover-color: var(--highlight-light);
    --secondary: var(--secondary-light);
    --tertiary: var(--tertiary-light);
    --heading: var(--heading-light);
    --h2-color: var(--heading-light);
    --li-color: var(--secondary-light);
    --li-hover-color: var(--highlight-light);
}

/* Globales */
html,
body {
    background-color: var(--background);
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Wendy One', serif;
    color: var(--text-color);
    font-size: 1.6rem;
    hyphens: auto;
    text-align: justify;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input,
button,
textarea,
select {
    font: inherit;
    background: var(--button-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    color: var(--heading);
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--paragraph-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

ul,
ol,
li {
    list-style: none;
}

li {
    color: var(--li-color);
    font-size: 1.6rem;
    line-height: 1.6;
}

li:hover {
    color: var(--li-hover-color);
}

button {
    border: none;
    cursor: pointer;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
    display: block;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: var(--max-width);
}