/* main.css */

:root {
    --background-primary: #16161a;
    --backgroun-secondary: #fffffe;
    --text-primary: #1f1235;
    --text-secondary: #fffffe;
    --primary-dark: #7f5af0;
    --secundary-dark: #72757e;
    --tertiary-dark: #2cb67d;
    --primary-ligth: #ff6e6c;
    --secundary-ligth: #72757e;
    --tertiary-ligth: #fbdd74;
    --paragraph: #94a1b2;
    --max-width: 120rem;
}

[data-theme="dark"] {
    --background: var(--background-primary);
    --text-color: var(--text-secondary);
}

[data-theme="light"] {
    --background: var(--backgroun-secondary);
    --text-color: var(--text-primary);
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Wendy One', serif;
    background-color: var(--background);
    color: var(--text-color);
    font-size: 1.6rem;
    hyphens: auto;
    text-align: justify;
    transition: background-color 0.3s ease, color 0.3s ease;
}


input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1.6rem;
    line-height: 1;
    color: var(--paragraph);
}

a {
    text-decoration: none;
    color: var(--secundary-dark);
}

a:hover {
    text-decoration: underline;
    color: var(--tertiary-dark);
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
    display: block;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: var(--max-width);

}