:root {
    --background-primary-dark: #16161a;
    --background-secondary-dark: #242629;
    --text-primary-dark: #94a1b2;
    --text-secondary-dark: #fffffe;
    --primary-dark: #7f5af0;
    --secondary-dark: #72757e;
    --tertiary-dark: #2cb67d;
    --background-primary-light: #f4effc;
    --background-secondary-light: #e2daeb;
    --text-primary-light: #1b1325;
    --text-secondary-light: #1f1135;
    --primary-light: #ff6e6c;
    --secondary-light: #67568c;
    --tertiary-light: #fbdd74;
    --paragraph: #94a1b2;
    --max-width: 160rem;
}

[data-theme="dark"] {
    --background: var(--background-primary-dark);
    --background-secondary: var(--background-secondary-dark);
    --text-color: var(--text-secondary-dark);
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --tertiary: var(--tertiary-dark);
}

[data-theme="light"] {
    --background: var(--background-primary-light);
    --background-secondary: var(--background-secondary-light);
    --text-color: var(--text-primary-light);
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --tertiary: var(--tertiary-light);
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Wendy One', serif;
    background-color: var(--background);
    color: var(--text-color);
    font-size: 1.6rem;
    hyphens: auto;
    text-align: justify;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--paragraph);
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    text-decoration: underline;
    color: var(--tertiary);
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
    display: block;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: var(--max-width);
}